.common-cover {
    border-radius: .5rem;
    box-shadow: 10px 6px 11px -5px rgba(40,40,40,0.48);
}

.common-link {
    font-weight: 600;
    cursor: pointer;
}

.font-awesome>* {
    width: 100%;
    height: auto;
}