// fonts
$base-font: 'Montserrat', sans-serif;
$sub-font: 'Open Sans', sans-serif;

// colors
$base-bg-color: #d5f0fe;
$sub-bg-color: #e3f5f5;
$accent-bg-color: #ffdfdc;
$controls-bg-color: #585858;
$success-bg-color: #3fcf6f;
$base-color: #3f3f3f;
$sub-color: #585858;
$accent-color: #f44336;