.item-info {
    
    width: 70%;
    height: 100%;
    padding-top: 2rem;

    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
    }

    &__title {
        font-size: 2rem;
        color: $base-color;
        font-weight: 600;
        margin-left: 2rem;
    }

    &__body {
        width: 100%;
        font-size: 1.5rem;
        color: $base-color;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        width: 3rem;
        border-radius: 3rem;
        margin-right: 1.5rem;
        cursor: pointer;
        transition: box-shadow .3s;
    }

    &__btn > svg {
        color: $sub-color;
        width: 50% !important;
        height: 100%;
    }
}

// States 
.item-info {
    &__btn:hover {
        box-shadow: 3px 3px 3px -1px rgba(40, 40, 40, 0.48);
    }

    &__btn_accept {
        transition: color .3s;
        border: 1px solid $sub-color;
        background-color: transparent;
    }

    &__btn_delete {
        background-color: $accent-bg-color;
    }

    &__btn_back {
        background-color: $controls-bg-color;
        & svg {
            color: white;
        }
    }

    &__btn_is-disabled {
        pointer-events: none;
        background-color: $success-bg-color;
    }
}