<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Лента оповещений</title>
        <meta name="description" content="Транзакции и оповещения">

        <meta name="viewport"
            content="width=device-width, initial-scale=1">
        <script defer
            src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="layout__wrapper">
            <div class="layout__inner">
                Loading...
            </div>
        </div>
    </body>

</html>