.layout {
    &__wrapper {
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 117rem;
        height: 100%;
        margin: 0 auto;
        color: $base-color;
        background-color: white;
    }

    &__header {
        width: 100%;
        flex: 1 1 8%;
        padding: 3rem 0 1rem 6rem;
    }

    &__logo {
        width: auto !important;
        height: 3rem;
        color: $accent-color;
        margin-right: 1rem;
    }

    &__title {
        font-family: $base-font;
        font-size: 3rem;
        color: $base-color;
        margin-bottom: 1rem;
    }

    &__router-outlet {
        flex: 1 1 87%;
        width: 100%;
        min-height: 470px;
        padding: 2rem 6rem;
        background-color: $base-bg-color;
        overflow: hidden;
    }

    &__footer {
        width: 100%;
        flex: 1 1 5%;
    }

    &__about {
        font-family: $base-font;
        color: $base-color;
    }

    &__logo {
        width: 20%;
    }
    
}

.layout {
    @media (max-width: 1170px) {
        &__wrapper {
            width: 100%;
            height: 100vh;
            overflow: visible;
        }

        &__inner {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        &__header {
            height: 9rem;
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 2rem;
            background-color: white;
        }

        &__footer {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: white;
            padding: 1rem 2rem;
        }

        &__router-outlet {
            overflow: visible;
            margin-top: 9rem;
        }
    }
    @media (max-width: 768px) {
        &__router-outlet {
            padding: 1rem 2rem;
            margin-top: 7rem;
        }

        &__header {
            padding-left: 2rem;
            height: 7rem;
        }
    }
}