.list { 
    width: 100%;
    height: 100%;

    &__filter-bar {
        height: 12%;
        width: auto;
    }

    &__body-wrapper {
        height: 85%;
        width: 100%;
        overflow: auto;
    }

    &__body {
        width: 100%;
        padding: 2rem 0;
    }
}

// States
.list {
    &__filter-bar_is-hidden {
        visibility: hidden;
    }
}