@import 'common/styles/reset.scss';
@import 'common/styles/google-fonts.scss';

@import 'common/styles/variables';

body *{
    font-family: $base-font;
}

.layout {
    &__wrapper {
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 117rem;
        height: 100%;
        margin: 0 auto;
        color: $base-color;
        background-color: white;
    }

    &__header {
        width: 100%;
        flex: 1 1 10%;
        padding-top: 7rem;
        padding-left: 6rem;
    }

    &__logo {
        width: auto !important;
        height: 3rem;
        color: $accent-color;
        margin-right: 1rem;
    }

    &__title {
        font-size: 3rem;
        color: $base-color;
    }

    &__router-outlet {
        flex: 1 1 80%;
        width: 100%;
        min-height: 470px;
        padding: 6rem;
        background-color: $base-bg-color;
        overflow: hidden;
    }

    &__footer {
        width: 100%;
        flex: 1 1 10%;
        margin-bottom: 2rem;
    }
}